.samples__form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 13px;
  row-gap: 12px;
}

@media screen and (max-width: 1439px) {
  .samples__form-container {
    display: flex;
    flex-direction: column;
  }
}