.samples__input-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.3px;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}