.about__container_place_bottom {
  background: #8556F8;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .about__container_place_bottom {
    flex-direction: column;
    position: relative;
  }
}