.header__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
  background: #FFDB00;
  padding: 12px 30px;
}


@media screen and (max-width: 1440px) {
  .header__link {
    align-self: center;
    margin-right: 50px;
    margin-bottom: 20px;
  }
}