.samples__link {
  background-color: #A27BFF;
  padding: 12px 30px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.3px;
  text-align: left;
  align-self: flex-start;
  text-decoration: none;
  margin: 180px auto 0px 0px;
}


@media screen and (max-width: 1439px) {
  .samples__link {
    margin: 90px auto 0px 0px;
  }
}