.about__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
  background: #FFDB00;
  padding: 12px 21px;
  margin-bottom: 90px;
  margin-top: 205px;
  margin-left: 100px;
  align-self: flex-start;
}

@media screen and (max-width: 1439px) {
  .about__link {
    position: absolute;
    margin: 0;
    bottom: 60px;
    left: 60px;
    margin: 0;
  }
}