.about__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.3px;
  text-align: center;
  text-decoration: none;
  background: #FFDB00;
  padding: 12px 30px;
  margin-top: 100%;
  margin-bottom: 90px;
}