.footer__column {
  min-width: 213px;
}

.footer__column:first-of-type {
  flex-basis: 48%;
}

@media screen and (max-width: 1439px) {
  .footer__column {
    min-width: 161px;
  }

  .footer__column:first-of-type {
    flex-basis: 46%;
  }
}