.separator {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #CEF564;

&__text {
  padding: 20px 0;
  margin: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  color: #016450;

  @media screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 24px;
  }
}
}