.header__sup-image {
  visibility: hidden;
  position: absolute;
  left: calc(50% - 565px/2 + 597.5px);
  top: calc(50% - 565px/2 - 1870px);
}


@media screen and (max-width: 1439px) {
  .header__sup-image {
    visibility: visible;
    left: 590px;
    top: 40px;
  }
}